
<h2 class="text-center">{{logement.titre}}</h2>
<div class="col-sm-6">
  <table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">Description</th>
      <td>{{logement.description}}</td>
    </tr>
    <tr>
      <th scope="row">Adresse</th>
      <td>{{logement.adresse}}</td>
    </tr>
    <tr>
      <th scope="row">Code postal</th>
      <td>{{logement.cp}}</td>
    </tr>
    <tr>
      <th scope="row">Ville</th>
      <td>{{logement.ville}}</td>
    </tr>
    <tr>
      <th scope="row">Tarif pour la semaine</th>
      <td>{{logement.tarif}}</td>
    </tr>
</table>
</div>
